name: Example App Build & Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v5

      - name: Force xcode 15.0.1
        run: sudo xcode-select -switch /Applications/Xcode_15.0.1.app

      - name: Build
        working-directory: Example/SanityDemoApp
        run: |
          xcodebuild -project SanityDemoApp.xcodeproj -scheme "SanityDemoApp"  -sdk iphonesimulator  -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.0.1' build-for-testing

      - name: Test
        working-directory: Example/SanityDemoApp
        run: |
          xcodebuild -project SanityDemoApp.xcodeproj -scheme "SanityDemoAppUITests" -sdk iphonesimulator -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.0.1' test-without-building
